* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {

    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(113,9,121,1) 50%, rgba(0,212,255,1) 100%);

    height: 100%;
}

#flexCenter {
    /*background-color: white;*/
    border-radius: 10%;

    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    flex-direction: row;
}


#flexCenter input{
    width: 100%;
}